.calendar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);

  &__header {
    display: flex;
    height: 100px;
    padding-left: 48px;
  }

  &__day {
    position: relative;
    flex: 1;
    border-left: 1px solid #eee;
  }
}

.circle{
  position: absolute;
  height:35px;
  width:35px;
  border-radius:50%;
  background: blue;
  z-index: -1;
  opacity:0;
  top:15px;
}

.circle_today{
  opacity: 1;
}